.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    text-align: center;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}